@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

/* base mobile*/
html {
    font-size: 25px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(37, 35, 35);
    font-family: 'Roboto', sans-serif;
    font-size:100%;

}

@media (min-width: 640px) { html {font-size:30px;} }
@media (min-width:960px) { html {font-size:40px;} }
@media (min-width:1100px) { body {font-size:50px;} }

.white-bold {
    color: #FFFFFF;
    font-weight: 700;
    font-style: normal;
}

.white-light {
    color: #FFFFFF;
    font-weight: 400;
    font-style: normal;
}

.title {
    position: absolute;
    font-size: 1.5rem;
    width: 15rem;
    height: 5rem;
   
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);;
    /* font-size: 36px; */
    line-height: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;

}

.subtitle {
    position: absolute;
    font-size: 0.8rem;
    width: 10rem;
    height: 3rem;

    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);;

    /* font-size: 20px; */
    line-height: 23px;
    text-align: center;

}

.div-input {
    position: absolute;
    /* display: flex; */
    
    font-size: 0.8rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    width: 10rem;
}

.input {
    height: 0.8rem;
    width: 5rem;
    margin-right: 0.2rem;
    padding: 0.1rem;
    margin-left: 0.2rem;
}
.button {
    width: 2rem;
    height: 0.8rem;
}

.div-results{
    position: absolute;
    display: flex; 
    
    font-size: 0.8rem;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 10rem;
    height: 8rem;
    flex-direction: column;
    /* background-color: rgb(253, 238, 238); */
}
